*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100dvh;
}

.contact-card {
  border: 1px solid #333;
  color: #333;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.contact-intro {
  padding: 25px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 25px;
}

.contact-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-description h3 {
  font-weight: normal;
}

.contact-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /* justify-content: center; */
  align-items: flex-end;
}

.contact-list li {
  margin: 15px 0;
}

.contact-list li a {
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  color: #333;
  border: 3px solid #333;
  padding: 10px;
}

.contact-list li:first-child,
.contact-list li:first-child a {
  margin-bottom: 25px;
  font-size: 1.5em;
  border: none;
}

.contact-list li a:hover {
  text-decoration: underline;
}

.contact-right-column {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.contact-right-column p {
  border-left: 1px solid #333;
  padding: 0 25px;
}
